{% extends "header.html" %}
<div
  class="flex flex-col items-center justify-center min-h-screen bg-gray-100 py-6 sm:px-6 lg:px-8"
>
  {% block title %}Changer le mot de passe{% endblock %} {% block content %}
  <h2 class="flex justify-center text-xl">Changer le mot de passe</h2>
  <form method="post" class="ml-96 mt-20">
    {% csrf_token %}
    <div class="mt-4">
      <label for="username" class="block font-medium text-sm text-gray-700"
        >Nom d'utilisateur</label
      >
      <input
        type="text"
        name="username"
        id="username"
        class="border border-black rounded px-2 py-1 mt-1 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 block w-24 sm:w-32 shadow-sm sm:text-sm"
      />
    </div>
    {{ form.password.as_hidden }}
    <button type="submit" class="mt-4 w-38 border-2 border-black rounded">
      Suivant
    </button>
  </form>
  {% endblock %}
</div>
