<title>Flux</title>
{% extends "header_connection.html" %}

    {% block content %}
    <div class="flex justify-center space-x-8 mt-2">
      <a href="{% url 'creation_ticket' %}" class="rounded-md border-black border-2 p-1 ">Demander une critique</a>
      <a href="{% url 'create_new_review' %}" class="rounded-md border-black border-2 p-1">Créer une critique</a>
    </div>
    <section class="p-3 mb-3">
      {% for ticket in tickets %}
        <div class="mb-3 border border-gray-300 p-3 rounded">
          {% if ticket.user == user %}
            <p>Vous avez publié le ticket "{{ ticket.title }}" le {{ ticket.formatted_created_at }}</p>
            <p>Commentaire: {{ ticket.content }}
          
          {% else %}
            <p>{{ ticket.user.username }} a ajouté un ticket au nom de "{{ ticket.title }}" le {{ ticket.formatted_created_at }}</p>
            <p>Commentaire: {{ ticket.content }}</p>
          {% endif %}
          {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="{{ ticket.title }} image" class="h-60 mb-3"/>
          {% endif %}
          {% if ticket.user == user %}
            <div class="mb-3">
            <a href="{% url 'edit_ticket' ticket.id %}" class="text-blue-500 font-bold">Modifier</a>
            <a href="{% url 'delete_ticket' ticket.id %}" class="text-red-500 ml-2 font-bold">Supprimer</a>
            </div>
          {% endif %}
          <a href="{% url 'create_review' ticket_id=ticket.id %}" class="rounded-md border-black border-2 p-1">Ajouter une critique</a>
    
          {% for review in reviews %}
            {% if review.ticket == ticket %}
              <div class="border border-blue-500 p-3 mt-3 rounded">
                {% if review.user == user %}
                  <p>Vous avez publié une critique pour le ticket "{{ review.ticket.title }}" le {{ review.formatted_created_at}}:</p>
                {% else %}
                  <p>Nouvelle critique pour le ticket "{{ review.ticket.title }}" ajoutée par {{ review.user.username }}, le {{ review.formatted_created_at}}:</p>
                {% endif %}
                
                <p>Critique : {{ review.body }}, Note: {{ review.rating }}</p>
    
                {% if review.user == user %}
                  <a href="{% url 'edit_review' review.id %}" class="text-blue-500 font-bold">Modifier</a>
                  <a href="{% url 'delete_review' review.id %}" class="text-red-500 ml-2 font-bold">Supprimer</a>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% empty %}
        <p>Aucun ticket disponible.</p>
      {% endfor %}
    
      {% for review in reviews %}
      {% if review.user == user %}
        <div class="border border-green-500 p-3 rounded mt-3">
          <p>Vous avez publié une nouvelle critique :</p>
          <p>{{ review.headline }}</p>
          <p>Critique : {{ review.commentary }} Note: {{ review.rating }}</p>
          <p>Description: {{ review.content }}</p>
          {% comment %} <img src="{{ review.image.url }}" alt="{{ review.image.url }} image" class="h-60 mb-3"/> {% endcomment %}

          <a href="{% url 'edit_review' review.id %}" class="text-blue-500 font-bold">Modifier</a>
          <a href="{% url 'delete_review' review.id %}" class="text-red-500 ml-2 font-bold">Supprimer</a>
        </div>
      {% endif %}
    {% endfor %}
    
    <!-- Afficher les critiques des utilisateurs suivis -->
    {% for followed_user in user.following.all %}
      {% for followed_review in followed_user.reviews.all %}
        <div class="border border-yellow-500 p-3 rounded mt-3">
          <p>Nouvelle critique de {{ followed_user.username }} pour le ticket "{{ followed_review.ticket.title }}" ajoutée le {{ followed_review.formatted_created_at }}:</p>
          <p>Ticket associé - Titre: {{ followed_review.ticket.title }}, Description: {{ followed_review.ticket.content }} Image: <img src="{{ followed_review.ticket.image.url }}" alt="{{ followed_review.ticket.title }} image" class="h-60 mb-3"/></p>
        </div>
      {% endfor %}
    {% empty %}

    {% endfor %}
    
    </section>
    {% endblock %}
  </body>
</html>
