<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <title>LITRevu-Accueil</title>
  </head>
  <body class="m-6 bg-pink-50">
    <nav class="bg-red-100 p-3 rounded m-0">
  
      <div class="flex flex-row justify-center space-x-14 mt-3 mb-2">
        {% load static %}
        <img
          class="h-14"
          src="static/images/logo_litrevu.jpg"
          alt="Logo LITRevu"
        />
        <h1 class="mt-2">LITRevu</h1>
            <ul class="flex flex-row space-x-14 mt-2 mb-5">
              <li class="">
                <a class="nav-link text-red-300" aria-current="page" href="{% url 'flux' %}">Flux</a>
              </li>
              <li class="">
                <a class="" href="{% url 'ticket_list' %}">Posts</a>
              </li>
              <li class="">
                <a class="" href="{% url 'follow_users' %}">Abonnements</a>
              </li>
              <li class="">
                <a class="" href="{% url 'signout' %}">Se déconnecter</a>
              </li>
            </ul>
          </div>
        </div>
      
    </nav>
    <div class="flex justify-center space-x-8 mt-2">
      <a href="{% url 'creation_ticket' %}" class="rounded-md border-black border-2 p-1 ">Demander une critique</a>
      <a href="{% url 'create_new_review' %}" class="rounded-md border-black border-2 p-1">Créer une critique</a>
    </div>
    <section class="p-3 mb-3">
      {% for ticket in tickets %}
        <div class="mb-3 border border-gray-300 p-3 rounded">
          {% if ticket.user == user %}
            <p>Vous avez publié le ticket "{{ ticket.title }}" le {{ ticket.created_at }}</p>
            <a href="{% url 'edit_ticket' ticket.id %}" class="text-blue-500">Modifier</a>
            <a href="{% url 'delete_ticket' ticket.id %}" class="text-red-500 ml-2">Supprimer</a>
          {% else %}
            <p>{{ ticket.user.username }} a ajouté un ticket au nom de "{{ ticket.title }}" le {{ ticket.created_at }}</p>
          {% endif %}
    
          {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="{{ ticket.title }} image" class="h-4 mb-3"/>
          {% endif %}
    
          <a href="{% url 'create_review' %}" class="rounded-md border-black border-2 p-1">Ajouter une critique</a>
    
          {% for review in reviews %}
            {% if review.ticket == ticket %}
              <div class="border border-blue-500 p-3 mt-3 rounded">
                {% if review.user == user %}
                  <p>Vous avez publié une critique pour le ticket "{{ review.ticket.title }}" ajouté par {{ review.user.username }}:</p>
                {% else %}
                  <p>Nouvelle critique pour le ticket "{{ review.ticket.title }}" ajoutée par {{ review.user.username }}:</p>
                {% endif %}
                
                <p>Critique : {{ review.body }}, Note: {{ review.rating }}</p>
    
                {% if review.user == user %}
                  <a href="{% url 'edit_review' review.id %}" class="text-blue-500">Modifier</a>
                  <a href="{% url 'delete_review' review.id %}" class="text-red-500 ml-2">Supprimer</a>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% empty %}
        <p>Aucun ticket disponible.</p>
      {% endfor %}
    
      {% for review in reviews %}
        {% if review.user == user and review.ticket == None %}
          <div class="border border-green-500 p-3 rounded mt-3">
            <p>Vous avez publié une critique :</p>
            <p>Critique : {{ review.body }}, Note: {{ review.rating }}</p>
            <a href="{% url 'edit_review' review.id %}" class="text-blue-500">Modifier</a>
            <a href="{% url 'delete_review' review.id %}" class="text-red-500 ml-2">Supprimer</a>
          </div>
        {% elif review.ticket %}
          <div class="border border-yellow-500 p-3 rounded mt-3">
            <p>Nouvelle critique de {{ review.user.username }} pour le ticket "{{ review.ticket.title }}":</p>
            <p>Critique: {{ review.body }}, Note: {{ review.rating }}</p>
          </div>
        {% endif %}
      {% empty %}
        <p>Aucune critique disponible.</p>
      {% endfor %}
    </section>
  </body>
</html>
