<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css"
    />
    <title>LITRevu</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img src="" alt="logo LITRevu" class="text-warning"
        /></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mob-navbar"
          aria-label="Toggle"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mob-navbar">
          <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'flux' %}">Flux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ticket_list' %}">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'follow_page' %}">Abonnements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signout' %}">Se déconnecter</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="navigation">
      <a href="{% url 'creation_ticket' %}">Demander une critique</a>
      <a href="{% url 'create_new_review' %}">Créer une critique</a>
    </div>

    {% for ticket in tickets %} {% if ticket.user == user %}
    <div>
      Vous avez publié le ticket "{{ ticket.title }}" le {{ ticket.created_at
      }}{% if ticket.image %}
      <img src="{{ ticket.image.url }}" alt="{{ ticket.title }} image" />
      {% endif %}
      <a href="{% url 'create_review' %}">Ajouter une critique</a>
    </div>
    {% else %}
    <div>
      {{ ticket.user.username }} a ajouté un ticket au nom de "{{ ticket }}" le
      {{ ticket.created_at }} {% if ticket.image %}
      <img src="{{ ticket.image.url }}" alt="{{ ticket.title }} image" />
      {% endif %}
      <a href="{% url 'create_review' %}">Ajouter une critique</a>
    </div>
    {% endif %} {% empty %}
    <p>Aucun ticket disponible.</p>
    {% endfor %} {% for review in reviews %} {% if review.user == user %}
    <div>
      Vous avez publié une critique pour le ticket "{{ review.ticket.title }}"
      ajouté par {{ review.user.username }}: Critique : {{ review.body }}, Note:
      {{ review.rating }}
    </div>
    {% else %}
    <div>
      {% if review.ticket %} Nouvelle critique pour le ticket "{{
      review.ticket.title }}" ajoutée par {{ review.user.username }}: {% else %}
      Nouvelle critique de {{ review.user.username }}: {% endif %} Critique: {{
      review.body }}, Note: {{ review.rating }}
    </div>
    {% endif %} {% empty %}
    <p>Aucune critique disponible.</p>
    {% endfor %}
  </body>
</html>
