{% extends "header_connection.html" %}
{% block title %}Abonnements{% endblock %}
{% block content %}
  <div class="border rounded p-4 mb-4">
    <h1 class="flex justify-center text-2xl font-bold mb-4">Suivre d'autres utilisateurs</h1>

    <form method="post" action="{% url 'follow_users' %}" class="flex justify-center ">
      {% csrf_token %}
      <label for="search_query" class="p-2 mt-2">Rechercher un utilisateur :</label>
      <input
        type="text"
        name="search_query"
        id="search_query"
        value="{{ query }}"
        class="rounded-md border-black border-2 p-2 m-2"
      />
      <button type="submit" class="rounded-md border-black border-2 p-2">Envoyer</button>
    </form>

    <div class="ml-16">
      {% if query %}
      <h2 class="mb-2">Résultat de recherche: </h2>
      {% endif %}
      {% if users %}
        {% for user in users %}
          <p class="mb-2">
            {{ user.username }} {% if user.username in followings %}
              <a href="{% url 'follow_unfollow' 'unfollow' user.username %}" class="rounded-md border-black border-2 p-1">Se désabonner</a>
            {% else %}
              <a href="{% url 'follow_unfollow' 'follow' user.username %}" class="rounded-md border-black border-2 p-1">Suivre</a>
            {% endif %}
          </p>
        {% endfor %}
      {% elif query %}
        <p class="text-red-500">Aucun utilisateur trouvé.</p>
      {% endif %}
    </div>
    </div>
  </div>

  <div class="border rounded p-4 mb-4">
    <h2 class="flex justify-center text-2xl font-bold mb-4">Abonnements</h2>
    {% for following_username in followings %}
      <p class="mb-5 ml-16">{{ following_username }}
        <a href="{% url 'follow_unfollow' 'unfollow' following_username %}" class="rounded-md border-black border-2 p-1 ">Se désabonner</a>
      </p>
    {% endfor %}
  </div>

  <div class="border rounded p-4 mb-4">
    <h2 class="flex justify-center text-2xl font-bold mb-4">Abonnés</h2>
    {% for follower_username in followers %}
      <p class="mb-5 ml-16">{{ follower_username }}
        {% if follower_username in followings %}
          <a href="{% url 'follow_unfollow' 'unfollow' follower_username %}" class="rounded-md border-black border-2 p-1 ">Se désabonner</a>
        {% else %}
          <a href="{% url 'follow_unfollow' 'follow' follower_username %}" class="rounded-md border-black border-2 p-1">Suivre</a>
        {% endif %}
      </p>
    {% endfor %}
  </div>
{% endblock %}
</body>
</html>
