{% extends "header_connection.html" %}
    {% block content %}
    <h1 class="flex justify-center text-xl">Suivre d'autres utilisateurs</h1>

    <form method="post" action="{% url 'follow_users' %}">
      {% csrf_token %}
      <label for="search_query">Rechercher un utilisateur:</label>
      <input
        type="text"
        name="search_query"
        id="search_query"
        value="{{ query }}"
        class="rounded-md border-black border-2 p-1"
      />
      <button type="submit" class="rounded-md border-black border-2 p-1">Envoyer</button>
    </form>

    
    {% for user in users %}
    <h2>Résultats de recherche</h2>
    <p>
      {{ user.username }} {% if user.username in followings %}
      <a href="{% url 'follow_unfollow' 'unfollow' user.username %}" class="rounded-md border-black border-2 p-1">Se désabonner</a>
      {% else %}
      <a href="{% url 'follow_unfollow' 'follow' user.username %}" class="rounded-md border-black border-2 p-1">Suivre</a>
      {% endif %}
    </p>
  {% endfor %}
  
  <h2 class="flex justify-center text-xl">Abonnements</h2>
  {% for following_username in followings %}
    <p>{{ following_username }}
      <a href="{% url 'follow_unfollow' 'unfollow' following_username %}" class="rounded-md border-black border-2 p-1">Se désabonner</a>
    </p>
  {% endfor %}
  
  <h2 class="flex justify-center text-xl">Abonnés</h2>
  {% for follower_username in followers %}
    <p>{{ follower_username }}
      {% if follower_username in followings %}
        <a href="{% url 'follow_unfollow' 'unfollow' follower_username %}" class="rounded-md border-black border-2 p-1">Se désabonner</a>
      {% else %}
        <a href="{% url 'follow_unfollow' 'follow' follower_username %}" class="rounded-md border-black border-2 p-1">Suivre</a>
      {% endif %}
    </p>
  {% endfor %}
  {% endblock %}
  </body>
</html>
