<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abonnements</title>
  </head>
  <body>
    <h1>Abonnements</h1>

    {% for following in followings %}
    <p>
      {{ following.followed_user.username }}
      <a
        href="{% url 'follow_unfollow' 'unfollow' following.followed_user.username %}"
        >Se désabonner</a
      >
    </p>
    {% endfor %}
  </body>
</html>
