<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <title>LITRevu</title>
  </head>
  <body class="m-6">
    <nav class="p-3 rounded m-0 shadow bg-blue-200">
      <div class="flex flex-row justify-center space-x-14 mt-2 mb-5">
        {% load static %}

        <a
          href="{% url 'LITRevu' %}"
          class="text-2xl font-bold hover:text-blue-700 p-2 rounded"
          ><h1 class="mt-2 nav-link" aria-current="page">LITRevu</h1></a
        >
      </div>
    </nav>

    {% block content %}{% endblock %}
  </body>
</html>
