<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <title>LITRevu</title>
  </head>
  <body class="m-6 bg-pink-50">
    <nav class="bg-red-100 p-3 rounded m-0">
      <div class="flex flex-row justify-center space-x-14 mt-2 mb-5">
        {% load static %}
        
        <a href="{% url 'LITRevu' %}" <h1 class="mt-2 nav-link text-red-300" aria-current="page">LITRevu</h1></a>
      </div>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>