<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
    <title>Login</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="" alt="logo LITRevu" class="text-warning"></a>
      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mob-navbar" aria-label="Toggle">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mob-navbar">
              <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">LITRevu</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Flux</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts' %}">Posts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Abonnements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'LITRevu' %}">Se déconnecter</a>
            </li>
        
              </ul>

          </div>
      </div>
  </nav>
  <div class="navigation">
    <a href="{% url 'creation_review' %}">Créer une critique</a>
    <a href="#">Demander une critique</a>
  </div> 
  <section class="publication">
    <p>Vous avez publié une critique</p>
    <p>Date et heure</p>
    <h3>Titre critique</h3>
    <p>Commentaire critique</p>
    <div class="ticket">
        <p>Ticket - nom user</p>
        <h4>Titre de l'oeuvre - nom auteur</h4>
        <img>Image oeuvre</img>

    </div>
  </section>


  </body>
  <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</html>
