{% extends "header.html" %}
{% block title %}Inscription{% endblock %}
{% block content %}
<h1 class="flex justify-center text-2xl mb-4 p-6 rounded-lg"><u>Inscrivez-vous</u></h1>
<form method="post" class="flex flex-col mt-6" autocomplete="off" >
  {% csrf_token %}
  <table class="table-auto mx-auto">
    {% for field in form %}
    <tr class="mb-2 ">
      <td class="px-4 ">{{ field.label_tag }}</td>
      <td class="px-4 "><input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.auto_id }}" autocomplete="off"></td>
    </tr>
    {% for error in field.errors %}
    <tr>
      <td></td>
      <td class="alert alert-danger">{{ error }}</td>
    </tr>
    {% endfor %} {% endfor %}
  </table>
  <div class="flex flex-row justify-center mt-4">
    <a href="{% url 'LITRevu' %}" class="rounded border-black border-2 w-20 mt-4 flex justify-center mr-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Retour</a>
    <button class="rounded border-black border-2 w-20 mt-4 flex justify-center bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" type="submit" >S'inscrire</button>
  </div>
</form>
{% endblock %}
</body>
</html>