{% extends "header.html" %}
{% block title %}Inscription{% endblock %}
    {% block content %}
    <h1 class="flex justify-center text-xl">Inscrivez-vous</h1>
    <form method="post" class="flex flex-col mt-6 ">
      {% csrf_token %}
      <table class="flex justify-center">
        {% for field in form %}
        <tr>
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
        </tr>
        {% for error in field.errors %}
        <tr>
          <td></td>
          <td class="alert alert-danger">{{ error }}</td>
        </tr>
        {% endfor %} {% endfor %}
      </table>
      
      <button class="rounded border-black border-2 w-20 mt-4 flex justify-center" type="submit" >S'inscrire</button>
    </form>
    {% endblock %}
  </body>
</html>
