<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css"
    />
    <title>tickets</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img src="" alt="logo LITRevu" class="text-warning"
        /></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mob-navbar"
          aria-label="Toggle"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mob-navbar">
          <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'flux' %}">Flux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'ticket_list' %}"
                >Posts</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'follow' %}">Abonnements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'LITRevu' %}">Se déconnecter</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>Vos posts</h1>

    {% load static %} {% for ticket in tickets %}
    <div>
      <h2>{{ ticket.title }}</h2>
      <p>{{ ticket.content }}</p>

      {% if ticket.image %}

      <img src="{% static ticket.image.url %}" alt="image" />
      {% else %}

      <p>Image non valide</p>
      {% endif %}

      <a href="{% url 'edit_ticket' ticket.id %}">Modifier</a>
      <form method="post">
        {{ delete_form }} {% csrf_token %}
        <button type="submit">Supprimer</button>
      </form>
    </div>
    {% endfor %}
  </body>
  <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</html>
