{% extends "header_connection.html" %}
    {% block content %}
    {% load static %} {% if user.is_authenticated %}
    <h1 class="flex justify-center text-xl">Vos posts</h1>
    {% for ticket in tickets %}
    <div>
      <h2 class="text-lg">{{ ticket.title }}</h2>
      <p class="text-lg">{{ ticket.content }}</p>

      {% if ticket.image %}
      <img src="{{ ticket.image.url }}" alt="{{ ticket.title }} image" class="h-4"/>
      {% else %}
      <p>Image non valide</p>
      {% endif %}
      <div class="flex flex-row space-x-4 ">
        <a href="{% url 'edit_ticket' ticket.id %}" class="rounded-md border-black border-2 p-1">Modifier</a>
        <form  class="rounded-md border-black border-2 p-1"method="post" action="{% url 'delete_ticket' ticket.id %}">
          {% csrf_token %}
          <button type="submit">Supprimer</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>Connectez-vous pour voir vos tickets.</p>
    {% endif %}
    {% endblock %}
  </body>
 
</html>
