{% extends "header_connection.html" %}
{% block title %}Liste des posts{% endblock %}
    {% block content %}
    {% load static %} {% if user.is_authenticated %}
    <h1 class="flex justify-center text-2xl font-bold mb-4">Vos posts</h1>
    {% for ticket in tickets %}
    <div class="mb-8 p-4 bg-pink-100  rounded-md ml-60 mr-60 p-6">
      <h2 class="text-xl font-semibold mb-2">{{ ticket.title }}</h2>
      <p class="text-lg mb-4">{{ ticket.content }}</p>

      {% if ticket.image %}
      <img src="{{ ticket.image.url }}" alt="{{ ticket.title }} image" class="h-60 mb-4"/>
      {% else %}
      <p>Image non valide</p>
      {% endif %}
      <div class="flex flex-row space-x-4 ">
        <a href="{% url 'edit_ticket' ticket.id %}" class="text-blue-500 hover:underline">Modifier</a>
        <form method="post" action="{% url 'delete_ticket' ticket.id %}">
          {% csrf_token %}
          <button type="submit" class="text-red-500 hover:underline">Supprimer</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>Connectez-vous pour voir vos tickets.</p>
    {% endif %}
    {% endblock %}
  </body>
 
</html>
